<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dk.froekjaer.timelapse-nginx</string>
  <key>UserName</key>
  <string>peter</string>
  <key>WorkingDirectory</key>
  <string>/opt/homebrew</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/opt/nginx/bin/nginx</string>
    <string>-g</string>
    <string>daemon off;</string>
  </array>
  <key>StandardOutPath</key>
  <string>/opt/homebrew/var/log/nginx-launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/opt/homebrew/var/log/nginx-launchd.log</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
</dict>
</plist>
